@use "variables" as *;

.add-recipe-page {
  background-color: $background-color-light;
  padding: $spacing-recipe;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: $font-size-secondary-title;
    font-weight: $font-weight-bold;
    color: $primary-color;
    margin-bottom: 30px;
  }

  form {
    width: 100%;
    max-width: 600px;
    background-color: $background-color;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .input-group {
      margin-bottom: 20px;

      label {
        display: block;
        font-size: $font-size-text-description;
        color: $text-color-primary;
        margin-bottom: 5px;
      }

      input,
      select,
      textarea {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid $text-color-primary;
        font-size: $font-size-text-description;
        color: $text-color-secondary;
        background-color: $background-color-light;
        margin-top: 5px;
      }

      input[type="text"],
      input[type="number"] {
        height: 40px;
      }

      textarea {
        height: 150px;
        resize: vertical;
      }

      select {
        height: 40px;
      }
    }

    .ingredient-item,
    .instruction-item {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;

      input,
      textarea {
        margin-bottom: 10px;
      }

      input[type="text"] {
        margin-bottom: 5px;
      }
    }

    .ingredient-item {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr;
      gap: 10px;

      input {
        width: 100%;
      }
    }

    button {
      background-color: $background-color-button;
      color: $text-color-button;
      padding: 12px 20px;
      border: none;
      border-radius: $border-radius-button;
      font-size: 16px;
      cursor: pointer;
      transition: all 0.3s ease;
      width: 100%;
      margin-top: 20px;

      &:hover {
        background-color: $hover-background-color-button;
        color: $hover-text-color-button;
        transform: scale(1.05);
      }
    }

    .add-ingredient-button,
    .add-instruction-button {
      background-color: $background-color-light;
      color: $primary-color;
      border: 1px solid $text-color-primary;
      padding: 8px 15px;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 10px;

      &:hover {
        background-color: $background-color-light;
        transform: scale(1.05);
      }
    }
  }
}
