@use 'variables' as *;

.admin-profile {
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  background: $background-color-light;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  font-family: $font-family-primary;
  color: $text-color-primary;
  text-align: center;
  flex: 1; /* Permet à la section de prendre l'espace disponible */

  h1 {
    font-size: $font-size-secondary-title;
    font-weight: $font-weight-bold;
    color: $text-color-primary;
    margin-bottom: 30px;
    letter-spacing: 1px;
  }

  .admin-profile__info {
    display: block; /* Changed from grid to block */
    margin-top: 20px;

    p {
      font-weight: $font-weight-regular;
      color: $text-color-tertiary;
      line-height: 1.6;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px; /* Adding space between each line of info */

      strong {
        color: $text-color-primary;
        font-weight: $font-weight-bold;
      }

      span {
        color: $text-color-secondary;
        font-weight: $font-weight-regular;
      }
    }
  }
}

@media (max-width: $breakpoint-md) {
  .admin-profile {
    padding: 20px;
    margin: 20px;
  }

  h1 {
    font-size: $font-size-tertiary-title;
  }

  .admin-profile__info p {
    font-size: 16px;
  }
}
