.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;  /* Assurez-vous que la hauteur minimale occupe toute la fenêtre */
}

.main-content {
  padding: 20px; /* Espacement interne du contenu principal */
  flex-grow: 1; /* Le contenu prend tout l'espace restant */
  transition: margin-left 0.3s ease; /* Transition pour décaler le contenu */
}

/* Appliquez un margin-left lorsque la sidebar est visible */
.app-with-sidebar .main-content {
  margin-left: 250px; /* Réserver l'espace à gauche pour la sidebar */
}

.content {
  flex: 1;  /* Permet à ce div de prendre tout l'espace restant */
}

footer {
  margin-top: auto; /* Pousse le footer vers le bas */
}

/* Défilement fluide */
body {
  scroll-behavior: smooth; /* Défilement fluide partout sur la page */
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #F7EEDF; /* Fond clair */
}
