/* App.scss (ou style.scss selon votre configuration) */

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;  /* Assurez-vous que la hauteur minimale occupe toute la fenêtre */
}

.main-content {
  margin-left: 250px; // Donne de l'espace à gauche pour le Sidebar
  padding: 20px; // Espacement interne du contenu principal
  flex-grow: 1; // Le contenu prend tout l'espace restant
}

.content {
  flex: 1;  /* Permet à ce div de prendre tout l'espace restant */
}

footer {
  margin-top: auto; /* Pousse le footer vers le bas */
}

/* Défilement fluide */
body {
  scroll-behavior: smooth; /* Défilement fluide partout sur la page */
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #F7EEDF; /* Fond clair */
}
