@use 'variables' as *;

footer {
  background-color: $footer-background-color;
  color: $footer-text-color;
  text-align: center;
  padding: $footer-padding;
  font-size: $footer-font-size;
  font-family: $footer-font-family;
  width: 100%;
  position: relative; /* Fixe le footer en bas de la page */
  bottom: 0;
  border-top: $footer-border-top;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: auto; /* Permet au footer de rester en bas */

}

footer p {
  margin: 0;
}

// Media query pour les petits écrans (mobile)
@media (max-width: 768px) {
  footer {
    padding: 1rem; // Réduire l'espacement sur les petits écrans
    font-size: 0.9rem; // Réduire la taille du texte sur les petits écrans
  }
}
