@use 'variables' as *;

.basic {
  position: fixed;           /* Fixe le loader par rapport à la fenêtre */
  top: 50%;                  /* Place le loader au milieu verticalement */
  left: 50%;                 /* Place le loader au milieu horizontalement */
  transform: translate(-50%, -50%);  /* Décale le loader de moitié de sa taille pour bien le centrer */
  
  &::before {
    content: '';
    display: block;
    height: 50px;
    width: 50px;
    -webkit-animation: spin 0.5s infinite linear;
            animation: spin 0.5s infinite linear;
    border: 6px $background-color-light solid;
    border-left-color: $primary-color;
    border-radius: 100%;
  }

  @-webkit-keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }

  @keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
}
