@use 'variables' as *;

// Conteneur principal de la recette
.recipe {
  margin: 0 auto;
  padding: $spacing-recipe;
  background-color: $background-color;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: $font-family-primary;
  max-width: 1200px;

  h1 {
    font-family: $font-family-primary;
    font-weight: $font-weight-bold;
    font-size: $font-size-primary-title;
    color: $primary-color;
    padding-bottom: 3rem;
    position: relative;
    text-align: center;
  }

  h2 {
    text-align: center;
    margin-bottom: 2rem;

  }

  // Image de la recette
  img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 50px; // Ajuster pour plus de lisibilité
  }

  // Description et anecdote de la recette
  p {
    font-family: $font-family-secondary;
    font-weight: $font-weight-regular;
    font-size: $font-size-text-description;
    color: $text-color-secondary;
    margin-bottom: 20px;
    text-align: justify;

    strong {
      font-weight: $font-weight-bold;
      color: $primary-color;
    }
  }

// Ingrédients et instructions

.content-wrapper {
  margin-top: 30px;
  padding: 20px;
  background-color: $content-wrapper-bg;

h2 {
  font-family: $font-family-primary;
  font-weight: $font-weight-bold;
  font-size: $font-size-tertiary-title;
  color: $primary-color;
  margin-top: 30px;
  margin-bottom: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;

  th,
  td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid $border-color;
    font-size: 1rem;
  }

  th {
    background-color: $table-header-bg;
    color: $text-color-quaternary;
    font-weight: bold;
  }

  tr {
    background-color: $odd-row-bg;  // Applique la même couleur de fond à toutes les lignes
  }

  tr:hover {
    background-color: $hover-color; // Survol avec une légère couleur de fond
  }

  td {
    font-size: 1rem;
  }
}

.ingredients-table,
.instructions-table {
  th {
    text-align: center;
  }

  td {
    text-align: center;
  }
}

.ingredients-table {
  th {
    background-color: $table-header-bg; // Bleu très clair
  }
}

.instructions-table {
  th {
    background-color: $table-header-bg; // Vert très clair
  }
}
}
  // Note moyenne
  .average-rating {
    font-family: $font-family-primary;
    font-weight: $font-weight-regular;
    font-size: $font-size-tertiary-title;
    color: $text-color-tertiary;
    margin-top: 30px;

    h3 {
      font-size: 1.5rem;
      color: $primary-color;
    }
  }


 .note-section {
    font-family: $font-family-primary;
    font-weight: $font-weight-bold;
    font-size: $font-size-tertiary-title;
    color: $primary-color;

    margin-top: 30px;
    margin-bottom: 15px;

    // Ajout d'un fond pour le h2
    background-color: #f4f4f4; // Couleur de fond clair (ou vous pouvez ajuster selon vos besoins)
    padding: 15px; // Ajoute de l'espace autour du texte
    border-radius: 8px; // Arrondir les coins du fond
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); // Légère ombre pour donner un effet de profondeur

    // Effet de survol (hover) pour un fond légèrement plus foncé
    &:hover {
      background-color: #e0e0e0;
    }
  }
  // Section des commentaires
  .comment-section {
    margin-top: 40px;

    h3 {
      font-family: $font-family-primary;
      font-weight: $font-weight-bold;
      font-size: $font-size-secondary-title;
      color: $primary-color;
      margin-bottom: 15px;
    }

    textarea {
      width: 100%;
      padding: 10px;
      border-radius: 10px;
      border: 1px solid $text-color-tertiary;
      font-family: $font-family-secondary;
      font-size: $font-size-text-description;
      margin-bottom: 20px;
      resize: vertical;
    }

    .rating {
      display: flex;
      align-items: center;
      margin-bottom: 15px;

      span {
        font-size: 18px;
        color: #333;
        margin-right: 10px;
      }

      button {
        background: none;
        border: none;
        font-size: 32px;
        color: #ccc; /* Couleur des étoiles non remplies */
        cursor: pointer;
        transition: color 0.2s ease-in-out;

        &.filled {
          color: #ffcc00; /* Couleur des étoiles remplies */
        }

        &:hover {
          color: #ffcc00; /* Couleur des étoiles lors du survol */
        }

        &:focus {
          outline: none;
        }

        & + button {
          margin-left: 5px; /* Espacement entre les étoiles */
        }
      }
    }

    button {
      background-color: $background-color-button;
      color: $text-color-button;
      border-radius: $border-radius-button;
      padding: 10px 20px;
      font-family: $font-family-primary;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: $hover-background-color-button;
        color: $hover-text-color-button;
        transform: scale(1.1);
      }
    }
  }

  .comments-list {
    margin-top: 40px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    h3 {
      font-size: 1.6rem;
      font-weight: bold;
      color: #333;
      margin-bottom: 15px;
    }

    p {
      color: #555;
      font-size: 1rem;
      line-height: 1.6;
      margin: 10px 0;
    }

    ul {
      list-style-type: none;
      padding-left: 0;
      margin: 0;
    }

    li {
      margin-bottom: 20px;
      padding: 15px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
      }

      & > div:first-child {
        font-weight: bold;
        color: #333;
        font-size: 1.1rem;
      }

      & > div:last-child {
        font-size: 0.9rem;
        color: #888;
        margin-top: 10px;
      }

      .rating {
        font-size: 1rem;
        font-weight: bold;
        color: #ff9900;
        margin-top: 10px;
      }
    }

    .no-comments {
      text-align: center;
      font-style: italic;
      color: #aaa;
      font-size: 1.1rem;
    }
  }

  button {
    background: none;
    color: $primary-color;
    border: none;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;

  }

}

// Responsive Design
@media (max-width: $breakpoint-sm) {
  .recipe {
    padding: 20px;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  .ingredients,
  .instructions {
    font-size: 1rem;
  }

  .comment-section textarea {
    font-size: 1rem;
  }

  .rating {
    span {
      font-size: 1.2rem;
    }
  }

  .button {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 0.8rem;
  }
}

@media (max-width: $breakpoint-md) {
  .recipe {
    padding: 30px;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.8rem;
  }
}
