@use 'variables' as *;

/* _Recipes.scss */

/* Conteneur de la page des recettes */
.recipes-page {
  padding: 2rem;
  background-color: $background-color;
  font-family: $font-family-primary;
  color: $text-color-secondary;
  min-height: 100vh; /* Assure que la page occupe toute la hauteur */
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Permet le défilement vertical si nécessaire */

  /* Titre principal */
  h2 {
    font-size: 2rem;
    color: $primary-color;
    font-family: $font-family-primary;
    text-align: center;
    margin : 5rem;
  }
}

/* Conteneur principal de la barre de recherche */
.search-container {
  position: fixed; /* Pour positionner le bouton de recherche */
  right: 0; /* Pour que la barre de recherche soit centrée */
  top: 7rem; /* Pour que la barre de recherche soit centrée */
  display: flex;
  align-items: center;
  margin: 2rem;
  z-index: 1000; /* Assurez-vous que la barre est au-dessus des autres éléments */

  /* L'input de recherche */
  .search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 250px;
    margin-right: 10px;
  }

  /* Le bouton de recherche */
  .search-button {
    padding: 10px 15px;
    background-color: $primary-color;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;

    &:hover {
      background-color: $hover-background-color-button;
    }
  }
}
/* Conteneur des cartes de recettes */
.recipe-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centre les cartes dans la page */
  gap: 2rem;
  margin-top: 2vh;
  padding-bottom: 2rem;
}

/* Card de recette */
.recipe-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 30%; /* Augmente la largeur des cartes pour les rendre plus larges */
  min-height: 50vh; /* Augmente la hauteur minimale des cartes */
  border-width: 0px 3px 3px 0px;
  border-style: solid;
  border-color: $primary-color;
  box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.25);
  position: relative;
  margin-bottom: 2rem;
  transition: transform 0.1s ease-in-out;
  background-color: $background-color;
  border-radius: 10px;
  overflow: hidden; /* Empêche l'image et autres éléments de dépasser la carte */
  
  &:hover {
    transform: scale(1.05); /* Effet de survol */
  }

  /* Titre de la carte */
  h3 {
    color: $primary-color;
    font-family: $font-family-primary;
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    margin: 0.5rem 0;
    width: 100%;
  }

/* Description de la recette */
p {
  font-family: $font-family-secondary;
  text-align: justify;
  padding: 2rem; /* Ajoute un espacement à gauche, droite, haut et bas */
  font-size: 1rem;
  margin: 0.5rem 0 2rem 0; /* Ajoute un espace en bas de la description */
  width: 100%; /* S'assure que le texte ne dépasse pas */
  box-sizing: border-box; /* Assure que le padding ne dépasse pas la largeur de l'élément */
}

/* Titre secondaire (par exemple, pour le nom de la recette) */
h2 {
  color: $primary-color;
  font-family: $font-family-primary;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: right;
  margin: 1rem 0 0 0; /* Ajoute un espace au-dessus du titre secondaire */
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 1rem;
}

  /* Lien de la recette (voir la recette) */
  a {
    font-family: $font-family-primary;
    font-size: 1.2rem;
    color: $primary-color;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: $accent-color;
    border-radius: 1.5rem;
    transition: background-color 0.3s;
    position: absolute;
    top: -1rem;
    left: -1rem;
    z-index: -1;
    transform: translate(10%, 10%);

    &:hover {
      background-color: $primary-color;
      color: $text-color-quaternary;
    }
  }
}

/* Image de la carte de recette */
.recipe-card img {
  width: 100%;
  height: 25vh; /* Augmente la hauteur de l'image pour mieux s'adapter aux cartes élargies */
  object-fit: cover;
  object-position: center;
  border-radius: 50% 50% 0 0;
  box-shadow: -5px 12px 9px 5px rgba(0, 0, 0, 0.25);
  margin-bottom: 1rem;
  max-width: 100%; /* S'assure que l'image respecte les limites de la carte */
}

/* Bouton "Voir toutes les recettes" */
.show-more-button-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  .show-more-button {
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
    background-color: $primary-color;
    color: $text-color-quaternary;
    border: none;
    border-radius: $border-radius-button;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: $hover-background-color-button;
      color: $hover-text-color-button;
    }
  }
}

/* Conteneur de la recette populaire */
.container-popular-recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}
/* Style pour la recette populaire */
.popular-recipe {
  position: relative;
  text-align: center;
  background-color: $primary-color;
  padding: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  min-height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: row; /* Utilisation de flexbox pour aligner l'image et la description */
  justify-content: space-between;
  align-items: center; /* Centrer verticalement les éléments */
  top: -1rem;

  .popular-recipe-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 25%;

      /* Image de la recette populaire */
      img {
        height: auto; /* Conserver le ratio d'aspect de l'image */
        object-fit: cover; /* L'image remplira son espace sans déformation */
        border-radius: 65% 34% 25% 3% / 62% 0% 0% 38%; /* Garder la bordure arrondie de l'image */
        position: absolute;
        bottom: 0;
        right: 0; /* Placer l'image sur le coin inférieur droit du conteneur */
        max-width: 100%;
        max-height: 100%;
        
      }

  }

  .popular-recipe-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    /* Titre de la recette populaire */
    h4 {
      font-family: $font-family-primary;
      font-size: 2rem;
      color: $text-color-quaternary;
      font-weight: 700;
      margin: 1rem;
      margin-right: 22rem; 

    }

      /* Description de la recette populaire */
      p {
        font-family: $font-family-secondary;
        font-size: 1.5rem;
        color: $text-color-quaternary;
        text-align: justify;
        line-height: 1.6;
        margin-top: 0.5rem;
        margin-right: 22rem; 

      }
      // source de la recette populaire
      aside {
        color: $text-color-quaternary;
        font-family: $font-family-primary;
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        margin-top: 2rem;
        margin-right: 45rem; 

      }

  }
  
  .popular-score {
    margin: 1rem 0;
    padding-bottom: 1rem;
    position: relative;
    top: -5rem;
    border : solid 1px blue;
    padding-left: 2rem;

    .popular-stars {
      font-family: $font-family-primary;
      font-size: 1.2rem;
      color: $text-color-quaternary;
      text-align: justify;
      text-decoration: underline;
      border : solid 1px blue;
    }
  }

  /* Bouton "Voir la recette" */
  a {
    font-family: $font-family-primary;
    font-size: 1rem;
    color: $text-color-quaternary;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: $secondary-color;
    border-radius: $border-radius-button;
    transition: background-color 0.3s;

    position: absolute;
    left: 45%;
    bottom: 1rem;
    z-index: 1;
    transform: translate(15%, 15%);
    max-width: 140px;

    &:hover {
      background-color: $hover-background-color-button;
      color: $hover-text-color-button;
    }
  }
}

/* Liste d'erreur */
.error-message {
  color: $error-color;
  font-family: $font-family-secondary;
  font-size: 1.2em;
  margin-top: 2vh;
}
