@use "variables" as *;

/* _Recipes.scss */

/* Conteneur de la page des recettes */
.recipes-page {
  padding: 2rem;
  background-color: $background-color;
  font-family: $font-family-primary;
  color: $text-color-secondary;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  h2 {
    font-size: 2rem;
    color: $primary-color;
    text-align: center;
    margin: 5rem;
  }
}

/* Conteneur des cartes de recettes */
.recipe-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 2vh;
  padding-bottom: 2rem;
}

/* Card de recette */
.recipe-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  min-height: 50vh;
  border-width: 0px 3px 3px 0px;
  border-style: solid;
  border-color: $primary-color;
  box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.25);
  position: relative;
  margin-bottom: 2rem;
  transition: transform 0.1s ease-in-out;
  background-color: $background-color;
  border-radius: 10px;
  overflow: hidden;

  &:hover {
    transform: scale(1.05);
  }

  h3 {
    color: $primary-color;
    font-family: $font-family-primary;
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    margin: 0.5rem 0;
  }

  p {
    font-family: $font-family-secondary;
    text-align: justify;
    padding: 2rem;
    font-size: 1rem;
    margin: 0.5rem 0 2rem 0;
    width: 100%;
  }

  h2 {
    color: $primary-color;
    font-family: $font-family-primary;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: right;
    margin: 1rem 0 0 0;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 1rem;
  }

  a {
    font-family: $font-family-primary;
    font-size: 2.5rem;
    background-color: $primary-color;
    color: $text-color-quaternary;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 50%;
    transition: background-color 0.3s;
    position: absolute;
    top: -0.5rem;
    left: -0.5rem;
    z-index: -1;
    transform: translate(10%, 10%);

    &:hover {
      background-color: $accent-color;
      color: $primary-color;
    }
  }
  // Nouveau bouton ajouté en haut à droite
  .favorite-button {
    position: absolute;
    bottom: 1rem;
    left: 0.5rem;
    padding: 0.3rem 0.8rem;
    font-size: 0.8rem;
    background-color: $accent-color;
    color: $text-color-quaternary;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: $primary-color;
      color: #fff;
    }
  }

  img {
    width: 100%;
    height: 35vh;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    box-shadow: -5px 12px 9px 5px rgba(0, 0, 0, 0.25);
    margin-bottom: 1rem;
    max-width: 100%;
  }
}

/* Bouton "Voir toutes les recettes" */
.show-more-button-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  .show-more-button {
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
    background-color: $primary-color;
    color: $text-color-quaternary;
    border: none;
    border-radius: $border-radius-button;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: $hover-background-color-button;
      color: $hover-text-color-button;
    }
  }
}

/* Conteneur de la recette populaire */
.container-popular-recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
  position: relative;

  .popular-recipe-title {
    position: absolute;
    top: -3rem;
    right: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 10;
    padding: 0.5rem;

    h4 {
      font-family: $font-family-primary;
      font-size: 1.5rem;
      color: $primary-color;
      font-weight: 700;
      margin: 0;
      text-align: right;
    }

    img {
      width: 150px;
      height: auto;
      object-fit: cover;
      max-width: 100%;
      max-height: 100%;
    }
  }
}

/* Style pour la recette populaire */
.popular-recipe {
  position: relative;
  text-align: center;
  background-color: $primary-color;
  padding: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  min-height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: -1rem;

  .popular-recipe-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 25%;

    img {
      height: auto;
      object-fit: cover;
      border-radius: 65% 34% 25% 3% / 62% 0% 0% 38%;
      position: absolute;
      bottom: 0;
      right: 0;
      max-width: 100%;
      max-height: 100%;
    }
  }

  .popular-recipe-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    p {
      font-family: $font-family-secondary;
      font-size: 1.5rem;
      color: $text-color-quaternary;
      text-align: justify;
      line-height: 1.6;
      margin-top: 0.5rem;
      margin-right: 22rem;
    }

    aside {
      color: $text-color-quaternary;
      font-family: $font-family-primary;
      font-size: 1.5rem;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      margin-top: 2rem;
      margin-right: 45rem;
    }
  }

  .popular-score {
    margin: 1rem 0;
    padding-bottom: 1rem;
    position: relative;
    top: -3rem;
    // border: solid 1px blue;
    padding-left: 2rem;

    .popular-stars {
      font-family: $font-family-primary;
      font-size: 1.2rem;
      color: $text-color-quaternary;
      text-align: justify;
      text-decoration: underline;
      // border: solid 1px blue;
    }
  }

  .static-score {
    font-family: $font-family-primary;
    font-size: 5rem;
    color: $text-color-quaternary;
    text-align: justify;
    text-decoration: underline;
  }

  a {
    font-family: $font-family-primary;
    font-size: 1rem;
    color: $text-color-quaternary;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: $secondary-color;
    border-radius: $border-radius-button;
    transition: background-color 0.3s;
    position: absolute;
    left: 45%;
    bottom: 1rem;
    z-index: 1;
    transform: translate(15%, 15%);
    max-width: 140px;

    &:hover {
      background-color: $hover-background-color-button;
      color: $hover-text-color-button;
    }
  }
}

/* Liste d'erreur */
.error-message {
  color: $error-color;
  font-family: $font-family-secondary;
  font-size: 1.2em;
  margin-top: 2vh;
}

/* Conteneur de l'en-tête des recettes */
.recipes-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
}

/* Conteneur du bouton "Ajouter une recette" */
.add-recipe-button-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 0;
}

/* Conteneur de la barre de recherche */
.search-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: auto;
}

/* Style pour l'input de recherche */
.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 250px;
  margin-right: 10px;
}

/* Style pour le bouton de recherche */
.search-button {
  padding: 10px 15px;
  background-color: $primary-color;
  color: $text-color-quaternary;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;

  &:hover {
    background-color: $hover-background-color-button;
  }
}

/* Style pour le bouton "Ajouter une recette" */
.add-recipe-button {
  padding: 0.8rem 1.5rem;
  font-size: 1.2rem;
  background-color: $primary-color;
  color: $text-color-quaternary;
  border: none;
  border-radius: $border-radius-button;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: $hover-background-color-button;
    color: $hover-text-color-button;
  }
}

/* Media Queries */

/* Petit écran (max-width: 768px) */
@media screen and (max-width: 768px) {
  .recipes-page h2 {
    font-size: 1.6rem;
    margin: 3rem 1rem;
  }

  .recipe-cards-container {
    gap: 1rem;
  }

  .recipe-card {
    width: 45%;
    min-height: 40vh;
  }

  .show-more-button-container {
    .show-more-button {
      font-size: 1rem;
      padding: 0.6rem 1.2rem;
    }
  }

  .container-popular-recipe .popular-recipe-title {
    top: -2rem;
    right: 2rem;
    h4 {
      font-size: 1.2rem;
    }
    img {
      width: 120px;
    }
  }

  .popular-recipe {
    flex-direction: column;
    padding: 1rem;
    .popular-recipe-info {
      margin-right: 0;
      padding: 0;
    }
    .popular-recipe-image {
      max-width: 40%;
    }
  }

  .search-input {
    width: 200px;
  }
}

/* Très petit écran (max-width: 480px) */
@media screen and (max-width: 480px) {
  .recipes-page h2 {
    font-size: 1.2rem;
    margin: 2rem 1rem;
  }

  .recipe-cards-container {
    gap: 0.5rem;
  }

  .recipe-card {
    width: 90%;
    min-height: 30vh;
    h2 {
      font-size: 0.8rem;
      margin-bottom: 0.5rem;
    }
    a {
      font-size: 2rem;
      padding: 0.5rem 1rem;
      margin-bottom: 2rem;
    }
  }

  .show-more-button-container {
    .show-more-button {
      font-size: 0.9rem;
      padding: 0.5rem 1rem;
      margin-bottom: 6rem;
    }
  }

  .container-popular-recipe {
    margin-top: 1rem;

    .title-popular-recipe {
      width: 50%;
      margin-bottom: 0.7rem;
    }
  }

  .popular-recipe-title {
    margin-bottom: 4rem;
    h4 {
      font-size: 1rem;
    }
    img {
      display: none;
    }
  }
  .popular-recipe .popular-recipe-info p {
    font-size: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.7rem;
  }

  .popular-recipe .popular-recipe-info aside {
    font-size: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
  }

  .popular-recipe .popular-recipe-info a {
    font-size: 1rem;
    margin-right: 8rem;
    margin-bottom: 2rem;
  }

  .popular-recipe-image {
    // largeur fixe de l'image, le quart du conteneur
    width: 100%; /* Fixe la largeur de l'image à 25% du conteneur */
    max-width: 100%; /* Assure que l'image ne dépasse pas 25% */
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      opacity: 0.2; /* Réduire l'opacité de l'image pour la rendre semi-transparente */
      border-radius: 10px;
    }
  }

  .popular-score {
    .popular-stars {
      font-size: 0.8rem;
      margin-top: 2rem;
    }
  }

  .search-input {
    width: 180px;
  }

  .recipes-header {
    padding: 0.5rem 1rem;
    flex-direction: column;
    .add-recipe-button {
      margin-bottom: 1rem;
    }
  }
}
