@use "variables" as *;

.register-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-color-light;
  font-family: $font-family-primary;
  padding: 2rem;
  position: relative;
  flex-direction: column;

  h2 {
    text-align: center;
    font-size: $font-size-secondary-title;
    color: $primary-color;
    margin-top: 8rem;
    margin-bottom: 1rem;
  }

  form {
    background-color: $background-color-light;
    padding: 4rem 3rem;
    margin-bottom: 5rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    input,
    select {
      width: 100%;
      padding: 1rem;
      margin: 0.75rem 0;
      border: 1px solid #ddd;
      border-radius: 5px;
      font-size: 1rem;
      background-color: $background-color-light;
      color: $text-color-secondary;
      transition: border-color 0.3s ease, box-shadow 0.3s ease;

      &:focus {
        border-color: $primary-color;
        outline: none;
      }

      &::placeholder {
        color: $text-color-tertiary;
      }
    }

    select {
      appearance: none;
      background-color: $background-color-light;
      background-repeat: no-repeat;
      background-position: right 10px center;
    }

    button {
      width: 100%;
      padding: 1rem;
      margin-top: 1rem;
      margin-bottom: 2rem;
      border: none;
      background-color: $primary-color;
      color: $text-color-quaternary;
      font-size: 1.1rem;
      font-weight: $font-weight-bold;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.2s ease;

      &:hover {
        background-color: $hover-background-color-button;
        color: $hover-text-color-button;
        transform: scale(1.05);
      }

      &:disabled {
        background-color: $text-color-quaternary;
        cursor: not-allowed;
      }
    }

    p {
      color: $error-color;
      text-align: center;
      font-size: 1rem;
      margin: 1rem 0;
    }
  }

  .login-link {
    display: flex;
    justify-content: center;
    top: 2rem;

    p {
      color: $text-color-primary;
      font-size: 1rem;
      margin: 0;
    }

    a {
      color: $primary-color;
      text-decoration: none;
      font-weight: $font-weight-bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding: 1rem;

    h2 {
      font-size: 2rem;
      margin-top: 4rem;
    }

    form {
      max-width: 100%;
      padding: 2rem 1rem;
      margin-top: 2rem;
    }

    input,
    select {
      padding: 1.2rem;
    }

    button {
      padding: 1.4rem;
    }

    .login-link {
      top: 1rem;
    }
  }

  @media screen and (max-width: 480px) {
    h2 {
      font-size: 1.8rem;
      margin-top: 2rem;
    }

    form {
      padding: 1.5rem;
      margin-right: 10%;
    }

    input,
    select {
      padding: 1rem;
    }

    button {
      padding: 1.2rem;
    }

    .login-link {
      top: 0.5rem;
    }
  }
}
