// Importation des variables
@use "variables" as *;

// Page principale
.user-update-page {
  padding: 20px;
  background-color: $background-color-light; // Fond clair
  font-family: $font-family-primary; // Police principale
  min-height: 100vh; // S'assurer que le contenu utilise toute la hauteur de la page

  h2 {
    text-align: center;
    font-weight: $font-weight-bold;
    font-size: $font-size-secondary-title;
    color: $text-color-primary; // Utilisation de l'orange comme couleur pour le titre
    margin-bottom: 30px;
  }

  .form-group {
    margin-bottom: 20px;
    label {
      display: block;
      font-weight: $font-weight-regular;
      font-size: $font-size-text-description;
      color: $text-color-secondary; // Gris foncé pour le label
      margin-bottom: 5px;
    }

    input,
    select {
      width: 100%;
      padding: 12px;
      font-size: $font-size-text-description;
      border: 1px solid $border-color; // Bordure subtile
      border-radius: 5px;
      box-sizing: border-box;
      background-color: $content-wrapper-bg; // Fond gris clair pour les champs de saisie
      color: $text-color-secondary; // Gris foncé pour le texte
    }

    select {
      cursor: pointer;
    }
  }

  button {
    background-color: $background-color-button; // Couleur orange pour le bouton
    color: $text-color-button; // Couleur blanche pour le texte
    border: none;
    padding: 12px 20px;
    font-size: $font-size-text-description;
    border-radius: $border-radius-button;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s, transform 0.2s; // Transition douce pour le fond et la taille
    margin-top: 20px;

    &:hover {
      background-color: $hover-background-color-button; // Couleur orange clair au survol
      color: $hover-text-color-button; // Couleur orange foncé au survol
      transform: scale(1.05); // Effet de zoom au survol
    }

    &:disabled {
      background-color: $border-color; // Couleur grise si le bouton est désactivé
      cursor: not-allowed;
    }
  }

  .error-message {
    color: $error-color; // Rouge pour l'erreur
    text-align: center;
    font-size: 1.1em;
    margin-top: 20px;
  }
}

// Responsivité pour les petits écrans
@media (max-width: $breakpoint-sm) {
  .user-update-page {
    padding: 15px;
  }

  h2 {
    font-size: $font-size-tertiary-title;
  }

  .form-group {
    margin-bottom: 15px;
  }

  button {
    font-size: 1em;
  }
}
