/* Déclaration de la police "Anonymous Pro" régulière */
@font-face {
  font-family: 'Anonymous Pro';
  src: url('/fonts/anonymous-pro-regular.woff2') format('woff2'),
       url('/fonts/anonymous-pro-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* Déclaration de la police "Anonymous Pro" en gras */
@font-face {
  font-family: 'Anonymous Pro';
  src: url('/fonts/anonymous-pro-bold.woff2') format('woff2'),
       url('/fonts/anonymous-pro-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* Déclaration de la police "Anonymous Pro" régulière en italique */
@font-face {
  font-family: 'Anonymous Pro';
  src: url('/fonts/anonymous-pro-regular-italic.woff2') format('woff2'),
       url('/fonts/anonymous-pro-regular-italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

/* Déclaration de la police "Anonymous Pro" en gras et italique */
@font-face {
  font-family: 'Anonymous Pro';
  src: url('/fonts/anonymous-pro-bold-italic.woff2') format('woff2'),
       url('/fonts/anonymous-pro-bold-italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}


/* Déclaration de la police "Inter" régulière */
@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter-regular.woff2') format('woff2'),
       url('/fonts/inter-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* Déclaration de la police "Inter" en gras */
@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter-bold.woff2') format('woff2'),
       url('/fonts/inter-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* Déclaration de la police "Inter" régulière en italique */
@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter-regular-italic.woff2') format('woff2'),
       url('/fonts/inter-regular-italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

/* Déclaration de la police "Inter" en gras et italique */
@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter-bold-italic.woff2') format('woff2'),
       url('/fonts/inter-bold-italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}