// Import des variables
@use 'variables' as *;

// Page de connexion
.login-page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background-color-light;
    font-family: $font-family-primary;
    padding: 2rem;
    position: relative; // Permet de gérer le titre en position absolue
    
  .login-form {
    background-color: $background-color-light;
    padding: 7rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin-top: 4rem; // Ajoutez un espacement entre le titre et le formulaire

    display: flex;
    flex-direction: column;
    align-items: center; // Centre le contenu horizontalement
    justify-content: flex-start; // Assure que le contenu commence du haut
    
    h1 {
        position: absolute; 
        top: 7rem; // Ajustez la distance par rapport au haut de la page
        width: 100%;
        text-align: center;
        font-size: $font-size-secondary-title;
        color: $primary-color;
        margin: 0; // Enlever les marges par défaut
        z-index: 10; // Assurez-vous que le titre est au-dessus du formulaire
    }

    .error {
      color: $error-color;
      text-align: center;
      margin-bottom: 1rem;
    }

    .input-group {
      margin-bottom: $spacing-recipe; // Utilisation de l'espacement des recettes

      label {
        font-family: $font-family-primary;
        font-size: $font-size-text-description;
        color: $text-color-secondary;
        margin-bottom: 0.5rem;
        display: block;
      }

      input {
        width: 100%;
        padding: 2rem;
        font-size: $font-size-text-description;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: $background-color-light;
        color: $text-color-secondary;
        margin-bottom: 1rem;

        &:focus {
          border-color: $primary-color;
          outline: none;
        }
      }
    }

    button {
      width: 100%;
      padding: 2rem;
      background-color: $primary-color;
      color: $text-color-quaternary;
      font-size: $font-size-text-description;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin-top: 1rem;

      &:hover {
        background-color: $hover-background-color-button;
        color: $hover-text-color-button;
        transform: scale(1.05);

      }

      &:disabled {
        background-color: #bbb;
        cursor: not-allowed;
      }
    }
  }
  .logged-in {
    text-align: center;
    width: 100%;
    max-width: 600px; // Limite la largeur maximale de la section à 600px
    padding: 2rem;
    background-color: $background-color-light;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-top: -10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    h1 {
      font-family: $font-family-primary;
      font-weight: $font-weight-bold;
      font-size: $font-size-secondary-title;
      color: $text-color-primary;
      margin-bottom: 2rem;
      text-align: center;
      position: relative;
    }
  
    button {
      padding: 0.8rem 2rem;
      font-size: $font-size-text-description;
      background-color: $primary-color;
      color: $text-color-quaternary;
      border: none;
      border-radius: $border-radius-button;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.3s ease;
      margin: 1rem 0;
      width: 100%;
      max-width: 300px; // Limite la largeur du bouton à 300px
  
      &:hover {
        background-color: $hover-background-color-button;
        color: $hover-text-color-button;
        transform: scale(1.05);
      }
  
      &:disabled {
        background-color: #bbb;
        cursor: not-allowed;
      }
    }
  
    .user-info {
      margin-top: 2rem;
      font-family: $font-family-primary;
      font-size: $font-size-text-description;
      color: $text-color-secondary;
  
      p {
        margin: 0.5rem 0;
      }
    }
  }
  
}
