.recipe-id-container {
  display: flex;
  max-width: 90vw;
  max-height: 70vh;
  margin: 0 auto;
  padding: 2vw;
  align-items: center;
  justify-content: space-between;
  overflow: auto; /* Permet de défiler sans afficher la barre de défilement */
  -ms-overflow-style: none; /* Cache la barre de défilement dans Internet Explorer */
  scrollbar-width: none; /* Cache la barre de défilement dans Firefox */
  margin-bottom: 1vh;
}

.recipe-id-container::-webkit-scrollbar {
  display: none; /* Cache la barre de défilement dans les navigateurs WebKit (Chrome, Safari) */
}


.recipe-id-left {
  flex: 1;
  text-align: center;
  padding-right: 2vw; /* 20px en fonction de la largeur de la fenêtre */
  position: relative;
  height: 70vh;
  max-height: 70vh;
}

.recipe-id-image-container {
  width: 20vw; /* 300px en fonction de la largeur de la fenêtre */
  height: 20vw; /* Pour garder une forme carrée avec la largeur */
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 2vh; /* 20px converti en % de la hauteur */
}

.recipe-id-recipe-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

 .recipe-id-titles {
  position: relative;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 30%;

} 

.recipe-id-title {
  font-size: 2em; /* 28px en fonction de la taille de police de base */
  color: #e85c42;
  margin-bottom: 1.25em; /* 10px converti en em */
  top: 50%;
  text-shadow: 
        1px 1px 0 #fff, 
        -1px -1px 0 #fff,  
        1px -1px 0 #fff, 
        -1px 1px 0 #fff;
}

.recipe-id-subtitle {
  font-size: 1.125em; /* 18px en fonction de la taille de police de base */
  color: #e85c42;
  margin-bottom: 1.25em;
  top: 57%;
}

.recipe-id-title, .recipe-id-subtitle {
    position: absolute;
    text-transform: uppercase;
    left: 20%;
    
}

.recipe-id-description {
  font-size: 0.875em; /* 14px en fonction de la taille de police de base */
  margin-bottom: 2vh; /* 20px converti en % de la hauteur */
  line-height: 1.5;
  color: #202020;
  position: absolute;
  top: 65%;
  transform: translate(-50%, -50%);
  left: 50%;
  font-family: 'Anonymous Pro';
}

.recipe-id-rating {
  font-size: 1.25em; /* 20px en fonction de la taille de police de base */
  color: #e85c42;
  margin-bottom: 2vh;
  position: absolute;
  top: 75%;
  transform: translate(-50%, -50%);
  left: 50%;
}

.recipe-id-lyrics {
  font-style: italic;
  color: #e85c42;
  margin-bottom: 2vh;
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.recipe-id-right {
  flex: 1;
  background-color: #f06141;
  padding: 2vw; /* 20px en fonction de la largeur de la fenêtre */
  color: white;
  border-radius: 0.625em; /* 10px en fonction de la taille de police de base */

}

.recipe-id-ingredients,
.recipe-id-instructions {
  margin-bottom: 2vh; /* 20px converti en % de la hauteur */
}

.recipe-id-section-title {
  font-size: 1.375em; /* 22px en fonction de la taille de police de base */
  margin-bottom: 1.25em; /* 10px converti en em */
  color: white;
  text-transform: uppercase;
}

.recipe-id-list {
  margin: 0;
  padding-left: 2em; /* 20px en fonction de la taille de police de base */
  line-height: 1.8;
}
