#research {
    all: unset;
    box-sizing: border-box;
    position: absolute;
    width: 15.63vw;
    height: 3.98vh;
    right: 10vw;
    top: 12vh;
    border-width: 0px 3px 3px 0px;
    border-style: solid;
    border-color: #E65126;
    box-shadow: 1px 5px 4px 3px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    color: #202020;
    text-indent: 10%
};

#research::placeholder {
    color: #555555;
    opacity: 1; 
}

.aside-card {
    margin-right: 1000vw;
    position: absolute;
    left: 0.7vw;
    width: 60px;
    height: 60px;
    background: #E65126;
    border-radius: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-family: 'Inter', sans-serif ;
    font-weight: 700;
    z-index: -1;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.aside-card:hover {
    transform: scale(1.2);
}


.recipe-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 23%;
    height: 45vh;
    border-width: 0px 3px 3px 0px;
    border-style: solid;
    border-color: #E65126;
    box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.25);
    z-index: 0;
    transition: transform 0.1s ease-in-out;
    position: relative;
    margin-inline: 1%;
    margin-bottom: 2%;
}


.recipe-card:hover {
    transform: scale(1.01);
}

.recipe-card-img-container {
    height: 20vh;
    width: 15vw;
    overflow: hidden;
    border-radius: 160px;
    box-shadow: -5px 12px 9px 5px rgba(0, 0, 0, 0.25);
    padding-top: 2vh;
}

.recipe-card-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.recipe-card-bottom {
    display: flex;
    flex-direction: column;
    padding-inline: 1vw;
}

h3, h4 {
  color: #e75d2a;
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
}

.recipe-card-description {
    color: #202020;
    font-family: 'Anonymous Pro', sans-serif;
}

.recipe-card-recipe {
    font-size: 1em;
    align-self: flex-end;
    padding-bottom: 1vh
}


#recipes-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2vh;
    margin-inline: 2vw;
    overflow: auto; /* Permet de défiler sans afficher la barre de défilement */
    height: 79.5vh;
    -ms-overflow-style: none; /* Cache la barre de défilement dans Internet Explorer */
    scrollbar-width: none; /* Cache la barre de défilement dans Firefox */
}

#recipes-list::-webkit-scrollbar {
    display: none; /* Cache la barre de défilement dans les navigateurs WebKit (Chrome, Safari) */
}



.hidden {
    display: none; /* Masque les cartes supplémentaires */
}

#show-more {
    display: block;
    position: absolute;
    bottom: 84vh;
    left: 92vw;
    padding: 1vh 2vw;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    color: white;
    background-color: #e65126;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

#show-more:hover {
    transform: scale(1.05);
}



@media (max-width: 1024px) { // Tablette
  .recipe-card {
    width: 48%; /* Affiche 2 cartes par ligne */
  }
}

@media (max-width: 768px) { // Petit écran (grande taille téléphone)
  .recipe-card {
    width: 95%; /* Affiche 1 carte par ligne */
    margin-inline: 1%;
  }
}